<div class="dashboard-container">
    <app-sidebar></app-sidebar>
    
    <div class="main-content">
      <app-header></app-header>
      
      <div class="content">
        <div class="dashboard-cards">
          <mat-card class="student-count-card">
            <mat-card-header>
              <mat-card-title>Total Students</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="count">{{ studentCount }}</div>
            </mat-card-content>
          </mat-card>
        </div>
        
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
